@page "/"

@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<h3>Welcome to Parnasoft</h3>

@if (string.IsNullOrEmpty(accessToken))
{
    <button class="btn btn-primary" @onclick="InitiateLogin">Log In Using OAuth</button>
}
else
{
    <div class="alert alert-success mt-3">
        <strong>Access Token:</strong> @accessToken
    </div>
    <button class="btn btn-danger mt-2" @onclick="Logout">Logout</button>
}

@code {
    private string clientId = "testClientId";
    private string redirectUri = "https://localhost:7156/callback";
    private string accessToken;

    private void InitiateLogin()
    {
        var loginUrl = $"https://localhost:7273/user/auth/login?client_id={clientId}&redirect_uri={redirectUri}";
        NavigationManager.NavigateTo(loginUrl, true);
    }

    protected override async Task OnInitializedAsync()
    {
        accessToken = await JS.InvokeAsync<string>("sessionStorage.getItem", "accessToken");
    }

    private async Task Logout()
    {
        await JS.InvokeVoidAsync("sessionStorage.removeItem", "accessToken");
        accessToken = null;
        StateHasChanged();
    }
}
